db_root=/media/usb/crossepg
lamedb=lamedb
providers=
force_load_on_boot=0
download_daily_enabled=0
download_daily_hours=4
download_daily_minutes=0
download_daily_reboot=1
download_tune_enabled=1
download_manual_reboot=0
download_standby_enabled=0
last_full_download_timestamp=0
last_partial_download_timestamp=0
csv_import_enabled=0
show_plugin=1
show_extension=0
