<conf>
  <channel name="Joi">
    <export nid="272" tsid="900" sid="111" offset="0"  desc="Joi - Premium" />
    <export nid="272" tsid="900" sid="114" offset="60" desc="Joi+1 - Premium" />
  </channel>
  <channel name="Mya">
    <export nid="272" tsid="900" sid="112"  offset="0"  desc="Mya - Premium" />
    <export nid="272" tsid="950" sid="5150" offset="60" desc="Mya+1 - Premium" />
  </channel>
  <channel name="Steel">
    <export nid="272" tsid="900" sid="113" offset="0"  desc="Steel - Premium" />
    <export nid="272" tsid="901" sid="166" offset="60" desc="Steel+1 - Premium" />
  </channel>
  <channel name="Premium Cinema">
    <export nid="272" tsid="900" sid="117" offset="0" desc="Premium Cinema" />
  </channel>
  <channel name="Premium Cinema Emotion">
    <export nid="272" tsid="900" sid="131" offset="0" desc="Premium Emotion" />
  </channel>
  <channel name="Premium Cinema Energy">
    <export nid="272" tsid="900" sid="132" offset="0" desc="Premium Energy" />
  </channel>
  <channel name="Studio Universal">
    <export nid="272" tsid="900" sid="118" offset="0" desc="Studio Universal - Premium" />
  </channel>
  <channel name="Disney">
    <export nid="272" tsid="900" sid="109" offset="0"  desc="Disney Channel - Premium" />
    <export nid="272" tsid="901" sid="160" offset="60" desc="Disney Channel+1 - Premium" />
  </channel>
  <channel name="Playhouse">
    <export nid="272" tsid="901" sid="158" offset="0" desc="Playhouse Disney - Premium" />
  </channel>
  <channel name="Cartoon Network">
    <export nid="272" tsid="901" sid="157" offset="0" desc="Cartoon Network - Premium" />
  </channel>
  <channel name="Hiro">
    <export nid="272" tsid="901" sid="156" offset="0" desc="Hiro - Premium" />
  </channel>
  <channel name="Premium Extra">
    <export nid="272" tsid="901" sid="119" offset="0" desc="Premium Extra 1 - Premium" />
  </channel>
  <channel name="Premium Extra 2">
    <export nid="272" tsid="901" sid="152" offset="0" desc="Premium Extra 2 - Premium" />
  </channel>
  <channel name="Premium  Calcio">
    <export nid="272" tsid="901" sid="101" offset="0" desc="Premium Calcio" />
  </channel>
  <channel name="Premium Calcio 1">
    <export nid="272" tsid="901" sid="102" offset="0" desc="Premium Calcio 1" />
  </channel>
  <channel name="Premium Calcio 2">
    <export nid="272" tsid="901" sid="103" offset="0" desc="Premium Calcio 2" />
  </channel>
  <channel name="Premium Calcio 3">
    <export nid="272" tsid="901" sid="104" offset="0" desc="Premium Calcio 3" />
  </channel>
  <channel name="Premium Calcio 4">
    <export nid="272" tsid="901" sid="105" offset="0" desc="Premium Calcio 4" />
  </channel>
  <channel name="Premium Calcio 5">
    <export nid="272" tsid="901" sid="106" offset="0" desc="Premium Calcio 5" />
  </channel>
  <channel name="Premium Calcio 6">
    <export nid="272" tsid="901" sid="107" offset="0" desc="Premium Calcio 6" />
  </channel>
</conf>
